// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.String
import kotlin.collections.List
import kotlin.collections.buildMap
import kotlin.collections.emptyMap
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.model.UUID
import org.jellyfin.sdk.model.api.MediaSegmentModel

public class MediaSegmentApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Gets all media segments based on an itemId.
	 *
	 * @param itemId The ItemId.
	 */
	public suspend fun getSegmentsAsync(itemId: UUID): Response<List<MediaSegmentModel>> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<List<MediaSegmentModel>>("/MediaSegment/MediaSegments/{itemId}",
				pathParameters, queryParameters, data)
		return response
	}
}
